.header {
  margin-bottom: 20px;
  .nav-custom {
    a {
      margin-right: 0px;
      line-height: 37px;
    }
    .logo {
      max-width: 40px;
    }
    .nav-link {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}
